.searchContainer {
    display: flex;
    align-items: center;
}
.searchBox {
    position: relative;
    align-items: center;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 6px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

.searchInput {
    
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border-color: rgb(50, 50, 172);
    color: white;
    text-indent: 10px;
}

input:focus{
   
    width: 200px;
    outline: none;
    transition: all .9s;
    border-color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 36);
    
  }
